.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.5rem 1rem 0.5rem 1rem;
    width: auto;
    border-bottom: 1px solid var(--standard-text);
}

.navbar-title {
    display: flex;
    font-weight: bold;
    color: var(--petro);
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.nav-links ::deep .nav-link {
    color: var(--standard-text);
    padding: 0 10px;

}

.nav-links ::deep .nav-link.active {
    color: var(--petro);
    font-weight: bold;
    border-bottom: 5px solid var(--petro);
    padding-left: 10px;
}

.nav-links ::deep .budget-link {
    color: var(--standard-text);
    padding: 0 10px;
    font-weight: bold;

}

.nav-links ::deep .budget-link.active {
    color: var(--petro);
    font-weight: bold;
    border-bottom: 5px solid var(--petro);
    padding-left: 10px;
}